body{
    background-color:black;
    color:white;
    height: 100vh;
}
nav{
    height: 100vh;
    background-color: red;
    /*position: fixed;
    top: 0;
    right: 0;*/
    ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        padding: 10vh 0;
        align-items: center;
        li{
            list-style: none;
            transform: rotate(90deg);
            width: max-content;
        }
    }
}
.app-layout{
    display: grid;
    grid-template-areas:    "header nav"
                            "content nav"
                            "footer nav";
    grid-template-rows: 5em 1fr;
    grid-template-columns: 1fr 5vw;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.content{
    grid-area: content;
}